@using DotaWebCalculator.Models
@model IEnumerable<Hero>

@{
    ViewData["Title"] = "All Heroes";
}

<div class="text-center">
    <h3 class="display-4">Choose Ally Hero</h3>
    <p>

        @using (Html.BeginForm("ChooseAlly", "Home", FormMethod.Post))
        {
            int radioId1 = 0;
            foreach (var hero in Model)
            {
                <div>
                    <input type="radio" name="radioAlly" value="radioAlly_@radioId1" asp-action="ChooseAlly"/>@hero.heroName
                </div>
                radioId1++;
            }
            <input type="submit" class="btn-primary" value="Submit" />
        }
    </p>
    <h4>!!!</h4>
</div>
